.hl-red {
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0.2em;
}
.hl-blue {
  background-color: rgba(0, 0, 255, 0.3);
  padding: 0.2em;
}
.hl-green {
  background-color: rgba(0, 255, 0, 0.3);
  padding: 0.2em;
}
